#subject {
    height: 200px;
}

input[type=text] {
    width: 100%;
    padding: .5%;
    border: 1px solid;
    box-sizing: border-box;
    margin-top: .1%;
    margin-bottom: .1%;
}

#container {
    border-radius: .05%;
    padding: .1%;
    width: 80%;
    align-items: center;
    display: flex;
    transform: translate(10%, 50%);
}